In [1]:
import pandas as pd
import numpy as np
import sys
print(f'pandas version: {pd.__version__}')
print(f'numpy version: {np.__version__}')
print(f'sys version: {sys.version}')

pandas version: 1.0.1
numpy version: 1.18.1
sys version: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [2]:
url='https://archive.ics.uci.edu//ml//machine-learning-databases//molecular-biology//promoter-gene-sequences//promoters.data'

names=['class','id','sequence']
data=pd.read_csv(url,names=names)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   class     106 non-null    object
 1   id        106 non-null    object
 2   sequence  106 non-null    object
dtypes: object(3)
memory usage: 2.6+ KB

In [4]:
data.head()

  class         id                                           sequence
0     +        S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +       AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +       AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +      DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +  LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

In [5]:
data.iloc[0:4]
#the backslash \t is due to the space in the data set and therefore we need to remove them from the dataset

  class     id                                           sequence
0     +    S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +   AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +   AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +  DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...

In [6]:
#so, lets start the data cleaning process
classes=data.loc[:,'class']
classes[0:4]

dataset={}
sequence=list(data.loc[:,'sequence'])
print(sequence[0:5])
type(sequence)

['\t\ttactagcaatacgcttgcgttcggtggttaagtatgtataatgcgcgggcttgtcgt', '\t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaatctaacgcatcgccaa', '\t\tgtactagagaactagtgcattagcttatttttttgttatcatgctaaccacccggcg', '\taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaatactaacaaactc', '\ttcgataattaactattgacgaaaagctgaaaaccactagaatgcgcctccgtggtag']

list

In [7]:
for i,seq in enumerate(sequence):
    neucleotides=list(seq)
    neucleotides=[x for x in neucleotides if x!='\t']
    
    neucleotides.append(classes[i])
    dataset[i]=neucleotides
print(dataset[19])

['g', 'c', 'a', 'a', 'a', 't', 'a', 'a', 't', 'c', 'a', 'a', 't', 'g', 't', 'g', 'g', 'a', 'c', 't', 't', 't', 't', 'c', 't', 'g', 'c', 'c', 'g', 't', 'g', 'a', 't', 't', 'a', 't', 'a', 'g', 'a', 'c', 'a', 'c', 't', 't', 't', 't', 'g', 't', 't', 'a', 'c', 'g', 'c', 'g', 't', 't', 't', '+']

In [8]:
data=pd.DataFrame(dataset)
data.info()
data.head()
#Since the new dataframe has the shape of 57*105 we need to transpose it to get the original shape of 105*57. to do that use the
#transpose method of pandas..simple

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Columns: 106 entries, 0 to 105
dtypes: object(106)
memory usage: 48.2+ KB

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,t,t,g,a,t,a,c,t,c,t,...,c,c,t,a,g,c,g,c,c,t
1,a,g,t,a,c,g,a,t,g,t,...,c,g,a,g,a,c,t,g,t,a
2,c,c,a,t,g,g,g,t,a,t,...,g,c,t,a,g,t,a,c,c,a
3,t,t,c,t,a,g,g,c,c,t,...,a,t,g,g,a,c,t,g,g,c
4,a,a,t,g,t,g,g,t,t,a,...,g,a,a,g,g,a,t,a,t,a

In [9]:
df=data.transpose()
df.info()
#now the df dataframe object has 58 columns(0 to 57) and 106 non  null rows.. we are now good to go

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       106 non-null    object
 1   1       106 non-null    object
 2   2       106 non-null    object
 3   3       106 non-null    object
 4   4       106 non-null    object
 5   5       106 non-null    object
 6   6       106 non-null    object
 7   7       106 non-null    object
 8   8       106 non-null    object
 9   9       106 non-null    object
 10  10      106 non-null    object
 11  11      106 non-null    object
 12  12      106 non-null    object
 13  13      106 non-null    object
 14  14      106 non-null    object
 15  15      106 non-null    object
 16  16      106 non-null    object
 17  17      106 non-null    object
 18  18      106 non-null    object
 19  19      106 non-null    object
 20  20      106 non-null    object
 21  21      106 non-null    object
 22  22      106 non-null    object
 23  23      106 non-null    object
 24  24      106 non-null    object
 25  25      106 non-null    object
 26  26      106 non-null    object
 27  27      106 non-null    object
 28  28      106 non-null    object
 29  29      106 non-null    object
 30  30      106 non-null    object
 31  31      106 non-null    object
 32  32      106 non-null    object
 33  33      106 non-null    object
 34  34      106 non-null    object
 35  35      106 non-null    object
 36  36      106 non-null    object
 37  37      106 non-null    object
 38  38      106 non-null    object
 39  39      106 non-null    object
 40  40      106 non-null    object
 41  41      106 non-null    object
 42  42      106 non-null    object
 43  43      106 non-null    object
 44  44      106 non-null    object
 45  45      106 non-null    object
 46  46      106 non-null    object
 47  47      106 non-null    object
 48  48      106 non-null    object
 49  49      106 non-null    object
 50  50      106 non-null    object
 51  51      106 non-null    object
 52  52      106 non-null    object
 53  53      106 non-null    object
 54  54      106 non-null    object
 55  55      106 non-null    object
 56  56      106 non-null    object
 57  57      106 non-null    object
dtypes: object(58)
memory usage: 53.9+ KB

In [10]:
df.iloc[100:105]
# there is still a problem. the columns are named as integer. It does not really matter for the rest, but for the class column we would like to get it
# renamed as 'class'

    0  1  2  3  4  5  6  7  8  9   ... 48 49 50 51 52 53 54 55 56 57
100  g  a  g  a  g  c  a  t  g  t  ...  t  g  c  c  c  t  a  c  g  -
101  c  c  t  c  a  a  t  g  g  c  ...  g  a  a  c  t  a  t  a  t  -
102  g  t  a  t  t  c  t  c  a  a  ...  t  c  a  a  c  a  t  t  g  -
103  c  g  c  g  a  c  t  a  c  g  ...  a  a  g  g  c  t  t  c  c  -
104  c  t  c  g  t  c  c  t  c  a  ...  a  g  g  a  g  g  a  a  c  -

[5 rows x 58 columns]

In [11]:
df.rename(columns={57:'class'},inplace=True)# inplace=True means do not generate a copy, make the changes in the original dataframe

In [12]:
# now see, the last column has been name as 'class'
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,class
count,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,106,106
unique,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,2
top,t,a,a,c,a,a,a,a,a,a,...,c,c,c,t,t,c,c,c,t,+
freq,38,34,30,30,36,42,38,34,33,36,...,36,42,31,33,35,32,29,29,34,53

In [13]:
#record value counts for each sequence
series=[]
for name in df.columns:
    series.append(df[name].value_counts())
info=pd.DataFrame(series)
print(info.transpose())

      0     1     2     3     4     5     6     7     8     9  ...    48  \
t  38.0  26.0  27.0  26.0  22.0  24.0  30.0  32.0  32.0  28.0  ...  21.0
c  27.0  22.0  21.0  30.0  19.0  18.0  21.0  20.0  22.0  22.0  ...  36.0
a  26.0  34.0  30.0  22.0  36.0  42.0  38.0  34.0  33.0  36.0  ...  23.0
g  15.0  24.0  28.0  28.0  29.0  22.0  17.0  20.0  19.0  20.0  ...  26.0
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

     49    50    51    52    53    54    55    56  class
t  22.0  23.0  33.0  35.0  30.0  23.0  29.0  34.0    NaN
c  42.0  31.0  32.0  21.0  32.0  29.0  29.0  17.0    NaN
a  24.0  28.0  27.0  25.0  22.0  26.0  24.0  27.0    NaN
g  18.0  24.0  14.0  25.0  22.0  28.0  24.0  28.0    NaN
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0

[6 rows x 58 columns]

In [14]:
#now lets convert the data into numerical data using pd.get_dummies() method which will convert th categorical variables into numeric ones by doing onehot encoding
# in this case since we have 4 types of proties, the number of columns will be (57*4)=228 + 1(for +)+1(for -) 230 columns for each row
# this is one of the important pandas methods
df=pd.get_dummies(df)
df

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,class_+,class_-
0,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
1,0,0,0,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
102,0,0,1,0,0,0,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
103,0,1,0,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
104,0,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,0,1
105,0,0,0,1,1,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,1

In [15]:
# one little cleaning. we can drop the class- column as even if e have only class + column it will have 0 for the rows where its not 1
# so, we will get 1 for positive and 0 for negative even if we keep only the class+ column
df.drop(['class_-'],axis=1,inplace=True)
df

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,class_+
0,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,1,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
102,0,0,1,0,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0
103,0,1,0,0,0,0,1,0,0,1,...,1,0,1,0,0,0,1,0,0,0
104,0,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
105,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [16]:
# now we can rename the class_+ column as class
df.rename(columns={'class_+':'class'},inplace=True)
df

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,class
0,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,1,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
102,0,0,1,0,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0
103,0,1,0,0,0,0,1,0,0,1,...,1,0,1,0,0,0,1,0,0,0
104,0,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
105,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [17]:
df.sample(frac=1).reset_index(drop=True)
df.iloc[59]

0_a      0
0_c      0
0_g      0
0_t      1
1_a      0
        ..
56_a     1
56_c     0
56_g     0
56_t     0
class    0
Name: 59, Length: 229, dtype: uint8

In [18]:
#we can also use sklearn shuffle
from sklearn.utils import shuffle

In [19]:
df=shuffle(df).reset_index(drop=True)
df
# we shuffled the data as the + and - casses are devided in the first and second half of the data, which might get the model
# learn that posibility of + is higher if the case is in the firsthalf of the dataset. So, we built some randomness by shuffling'
# the data by using the sklearn shuffle function. .rest_index(drop=True) argument ensures that the original indexes are droppedd and
# we get a serial indexing

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,class
0,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,1,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,1
3,0,0,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
4,1,0,0,0,1,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
102,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
103,1,0,0,0,0,0,0,1,1,0,...,0,0,0,0,1,1,0,0,0,0
104,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
105,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [20]:
# so now we have only numerial data in our data and is shuffled. So, we can now move on with fitting the data into our models
#lets import the models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report,accuracy_score

In [49]:
#split the data into train and test
#first drop the class column from the train data, 
from sklearn.model_selection import train_test_split
seed=1
X=np.array(df.drop(['class'],axis=1))
Y=np.array(df['class'])
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=seed)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(84, 228)
(22, 228)
(84,)
(22,)

In [50]:
#define scoring
scoring='accuracy'
# deifne the models

names=['KNeighbors','MLPCclassifier','Gaussianprocessclassifier','Decisiontree','Randomforest','Adaboost','GaussianNB','SVC-linear','SVC-rbf','SVC-sigmoid']
classifiers=[
    KNeighborsClassifier(n_neighbors=3),
    MLPClassifier(),
    GaussianProcessClassifier(1.0*RBF(1.0)),
    DecisionTreeClassifier(max_depth=3),
    RandomForestClassifier(max_depth=3,n_estimators=10,max_features = 1),
    AdaBoostClassifier(),
    GaussianNB(),
    SVC(kernel='linear'),
    SVC(kernel='rbf'),
    SVC(kernel='sigmoid')
    
]
models=zip(names,classifiers)

In [51]:
#now import kfold for doing something similar to what cross_val function would have done where in we define cv=no of splits
# and the  it spilits the dataset into that many folds(eg 10), train in 9 folds and test in the 10th fold, and repeat the process 10 times
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)

In [52]:
#evaluate each model
results=[]
names=[]
for name, model in models:
    kfold=kfold
    cv_scores=cross_val_score(model,X_train,Y_train,cv=kfold,scoring=scoring,)
    results.append(cv_scores)
    names.append(name)
    model.fit(X_train,Y_train)
    predictions=model.predict(X_test)
    print(f'{name}: {cv_scores.mean()} with std: {cv_scores.std()}')
    print('==========================')
    print('Performance on test data:')
    print(f'accuracy:{accuracy_score(Y_test,predictions)}')
    print(classification_report(Y_test,predictions))
    print('*******end********')

KNeighbors: 0.8569444444444445 with std: 0.10150297994774146
==========================
Performance on test data:
accuracy:0.6818181818181818
              precision    recall  f1-score   support

           0       1.00      0.42      0.59        12
           1       0.59      1.00      0.74        10

    accuracy                           0.68        22
   macro avg       0.79      0.71      0.66        22
weighted avg       0.81      0.68      0.66        22

*******end********
MLPCclassifier: 0.9041666666666666 with std: 0.07387270081651223
==========================
Performance on test data:
accuracy:0.8181818181818182
              precision    recall  f1-score   support

           0       1.00      0.67      0.80        12
           1       0.71      1.00      0.83        10

    accuracy                           0.82        22
   macro avg       0.86      0.83      0.82        22
weighted avg       0.87      0.82      0.82        22

*******end********
Gaussianprocessclassifier: 0.8208333333333332 with std: 0.09284802729643482
==========================
Performance on test data:
accuracy:0.7272727272727273
              precision    recall  f1-score   support

           0       0.88      0.58      0.70        12
           1       0.64      0.90      0.75        10

    accuracy                           0.73        22
   macro avg       0.76      0.74      0.73        22
weighted avg       0.77      0.73      0.72        22

*******end********
Decisiontree: 0.7722222222222223 with std: 0.1446312894104979
==========================
Performance on test data:
accuracy:0.7727272727272727
              precision    recall  f1-score   support

           0       0.77      0.83      0.80        12
           1       0.78      0.70      0.74        10

    accuracy                           0.77        22
   macro avg       0.77      0.77      0.77        22
weighted avg       0.77      0.77      0.77        22

*******end********
Randomforest: 0.6652777777777777 with std: 0.10420369712168162
==========================
Performance on test data:
accuracy:0.5909090909090909
              precision    recall  f1-score   support

           0       0.80      0.33      0.47        12
           1       0.53      0.90      0.67        10

    accuracy                           0.59        22
   macro avg       0.66      0.62      0.57        22
weighted avg       0.68      0.59      0.56        22

*******end********
Adaboost: 0.9402777777777779 with std: 0.09583333333333333
==========================
Performance on test data:
accuracy:0.8181818181818182
              precision    recall  f1-score   support

           0       1.00      0.67      0.80        12
           1       0.71      1.00      0.83        10

    accuracy                           0.82        22
   macro avg       0.86      0.83      0.82        22
weighted avg       0.87      0.82      0.82        22

*******end********
GaussianNB: 0.8805555555555555 with std: 0.13411230782859235
==========================
Performance on test data:
accuracy:0.8636363636363636
              precision    recall  f1-score   support

           0       0.91      0.83      0.87        12
           1       0.82      0.90      0.86        10

    accuracy                           0.86        22
   macro avg       0.86      0.87      0.86        22
weighted avg       0.87      0.86      0.86        22

*******end********
SVC-linear: 0.9402777777777779 with std: 0.05991570725034165
==========================
Performance on test data:
accuracy:0.8636363636363636
              precision    recall  f1-score   support

           0       1.00      0.75      0.86        12
           1       0.77      1.00      0.87        10

    accuracy                           0.86        22
   macro avg       0.88      0.88      0.86        22
weighted avg       0.90      0.86      0.86        22

*******end********
SVC-rbf: 0.9416666666666667 with std: 0.058531409738070785
==========================
Performance on test data:
accuracy:0.8636363636363636
              precision    recall  f1-score   support

           0       1.00      0.75      0.86        12
           1       0.77      1.00      0.87        10

    accuracy                           0.86        22
   macro avg       0.88      0.88      0.86        22
weighted avg       0.90      0.86      0.86        22

*******end********
SVC-sigmoid: 0.9291666666666666 with std: 0.05808478796201802
==========================
Performance on test data:
accuracy:0.8636363636363636
              precision    recall  f1-score   support

           0       1.00      0.75      0.86        12
           1       0.77      1.00      0.87        10

    accuracy                           0.86        22
   macro avg       0.88      0.88      0.86        22
weighted avg       0.90      0.86      0.86        22

*******end********

In [61]:
type(predictions)
dfp=pd.DataFrame(predictions)
dfp[dfp[0]==0].count()

0    9
dtype: int64

In [54]:
# the above accuracy figures does not mean much as they are on the train data. Lets see how , the models perform on test data

for name, model in models:
    model.fit(X_train,Y_train)
    predictions=model.predict(X_test)
    print(name)
    print(f'accuracy: {accuracy_score(y_test,predictions)}')
    print(classification_report(y_test,predictions))

In [55]:
for name, model in models:
    model.fit(X_train,Y_train)
    predictions=moel.predict(X_test)
    print(name)
    print('accuracy:')
    print(accuracy_score(y_test,predictions))
    print(classification_report)

In [35]:
print(model)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)